DisplayWidgetA {
    background-color: transparent;
    padding: 0px;
    border: none;
}

DisplaySA{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:15px;
    background-color: rgba(249, 249, 249, 0.75);
}

#view{
    background-color: transparent;
}